<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <%- include("./partials/sidebar.ejs") %>
        </div>
        <div class="col-sm-10">
          <h1>Item: <%= dairy.name %></h1>

          <h4>
            <strong>Description:</strong>
            <p><%= dairy.description %></p>
          </h4>
          <p><strong>Price:</strong> <%= dairy.price %></p>
          <p><strong>Quantity:</strong> <%= dairy.quantity %></p>
          <hr />
          <p>
            <a href="<%= dairy.url %>/delete">Delete Dairy Item</a>
          </p>
          <p>
            <a href="<%= dairy.url %>/update">Update Dairy Item</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
