<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <%- include("./partials/sidebar.ejs") %>
        </div>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <ul>
            <% for (let i = 0; i < meat_list.length; i++) { %>
            <li>
              <a href="<%= meat_list[i].url %>"
                ><%= meat_list[i].name %> ($<%= meat_list[i].price %>,
                <%= meat_list[i].quantity %>/ea)</a
              >
            </li>
            <% } %> <% if (meat_list.length === 0) { %>
            <li>There is no meat.</li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
