<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <%- include("./partials/sidebar.ejs") %>
        </div>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <ul>
            <% for (let i = 0; i < seafood_list.length; i++) { %>
            <li>
              <a href="<%= seafood_list[i].url %>"
                ><%= seafood_list[i].name %> (<%=
                seafood_list[i].price %>)</a
              >
            </li>
            <% } %> <% if (seafood_list.length === 0) { %>
            <li>There is no seafood.</li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
